<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}
button{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    height: 20px;
    font-weight: 500;
    width: 200px;
}
input{
    background-color: rgb(255, 255, 255);
    border: none;
    padding-left: 10px;
    height: 20px;
    border-radius: 5px;
}
.table{
    margin-top: 50px;
}
   </style>
    <title>URL SHORTNER</title>
</head>
<body>
    <h1>URL SHORTNER</h1>
    <% if (locals.id) { %>
        <p>URL Generated: http://localhost:8000/url/<%= id %>
        </p>
        <% } %>
    <div >
        <form action="/url" method="POST">
            <label >Enter Your Original URL</label>
            <input type="text" name="url" placeholder="https//:example.com"/>
            <button type="submit">Generate URL</button>
        </form>
    </div>
   
    <div class="table">
        <% if (locals.urls) { %>
         <table>
            <thead>
                <th>S. No</th>
                <th>ShortID</th>
                <th>Redirect</th>
                <th>Clicks</th>
                <th>URL</th>
            </thead>
            <tbody>
                <% urls.forEach((url, index)=> { %>
                    <tr>
                 <td><%= index + 1 %></td>
                 <td><%= url.shortId  %></td>
                 <td><%= url.redirectURL %></td>
                 <td><%= url.visitHistory.length %></td>
                 <td><p>http://localhost:8000/url/<%= url.shortId %></td>
                </tr>
                <% }) %>
            </tbody>
         </table>
        <% } %>
    </div>
</body>
</html>